<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>Meist</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets\icon\favicon.png" />
    <ion-card-header>
      <ion-card-subtitle>Autod
      </ion-card-subtitle>
      <ion-card-title>Tallinn, Eesti</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Oleme ettevõte, kes tegeleb autodega.
Autosid on võimalik üle Euroopa osta ja rentida.
Meie valik ja kvaliteet on Eesti parim.
    </ion-card-content>
  </ion-card>
</ion-content>
